@import '../../abstracts/variables.scss';

.header{
    margin-top: 5px;
    background-color: var(--nav-background);
    padding-inline: 18px 9px;
    height: 40px;
    border-radius: 28px;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navLinks{
        display: none;
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        .old{
            display: none;
        }
        .language{
            cursor: pointer;
            .langTitle{
                color: var(--text-svg-color);
                padding-right: 8px;
                font-weight: 700;
                font-size: 14px;
                leading-trim: Cap height;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                transition: font-size 0.4s ease;
            }
        }
        .lightMode{
            background-color: var(--light-mode-background);
            position: relative;
            width: 46px;
            height: 25.760000228881836px;
            border-radius: 13.72px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4.6px;
            cursor: pointer;
            transition: background-color 0.4s ease;
            .whiteCircle{
                width: 20.239999771118164px;
                height: 20.239999771118164px;
                background-color: var(--light-mode-circle);
                border-radius: 10.83px;
                transition: transform 0.4s ease;
            }
        }
        .light{
            transition: background-color 0.4s ease;
            svg:first-child{
                display: none;
            }
        }
        .dark{
            transition: background-color 0.4s ease;
            svg:last-child{
                display: none;
            }
        }
    }
}

.nav{
    padding-top: 9px;
    background-color: var(--background-color);
    // position: sticky;
    // top: 0;
    // z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}
@media (min-width:$screen-size) {
    .header{
        margin: 0px;
        padding-inline: 34px 17px;
        height: 45px;
        border-radius: 25px;
        .navLinks{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px;
            a{
                font-weight: 500;
                font-size: 14px;
                leading-trim: Cap height;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: var(--text-svg-color);
                opacity: 50%;
            }
            a:hover{
                opacity: 100%;
            }
            .active{
                font-weight: 700;
                opacity: 100%;
            }
        }
        .right{
            gap: 19px;
            .old{
                padding-right: 7px;
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
                text-decoration: underline;
                color: var(--text-svg-color);
            }
            .language{
                .langTitle{
                    color: var(--text-svg-color);
                    padding-right: 7px;
                }
            }
            .lightMode{
                background-color: var(--light-mode-background);
                position: relative;
                width: 54px;
                height: 30px;
                border-radius: 19px;
                gap: 6px;
                .whiteCircle{
                    width: 24px;
                    height: 24px;
                    border-radius: 15px;
                }
            }
        }
    }
    .nav{
        padding-top: 20px;
        gap: 15px;
    }
}