@import '../../abstracts/variables.scss';

.cityDropdown{
    display: none;
}

@media (min-width: $screen-size) {
    .cityDropdown{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 13px 15px 30px;
        height: 50px;
        min-width: 253px;
        width: 253px;
        max-width: 253px;
        white-space: nowrap;
        position: relative;
        background-color: var(--nav-background);
        border-radius: 10px;
        box-shadow: 0px 9.82px 18.66px 0px #00000008;
        .cityName{
            opacity: 0.5;
            color: var(--input-color);
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            background-color: transparent;
        }
        &:hover{
            background-color: var(--info-card-color);
        }
    }
}