@import '../../abstracts/variables.scss';

.card{
    width: 100%;
    min-height: 94.98492431640625px;
    border-radius: 12.26px;
    padding: 11.23px 11.75px 15.98px 15.25px;
    background-color: var(--nav-background);
    display: flex;
    flex-direction: column;
    gap: 10.86px;
    .box{
        width: 25px;
        height: 25px;
        min-width: 25px;
        max-width: 25px;
        max-height: 25px;
        min-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        object-fit: cover;
        background-color: var(--info-card-color);
        border-radius: 8.07px;
        img{
            width: auto !important;
            object-fit: cover;
            position: static !important;
            filter: var(--info-card-picture);
        }
    }
    .description{
        display: flex;
        flex-direction: column;
        gap: 3.78px;
        .title{
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--text-svg-color);
        }
        .duration{
            opacity: 0.6;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--text-svg-color);
        }
    }
}

@media (min-width: $screen-size) {
    .card{
        min-height: 186px;
        border-radius: 24px;
        padding: 22px 4.87px 32.94px 23px;
        gap: 27px;
        .box{
            width: 50px;
            height: 50px;
            min-width: 50px;
            max-width: 50px;
            min-height: 50px;
            max-height: 50px;
            padding: 10px;
        }
        .description{
            gap: 1.12px;
            .title{
                font-size: 24px;
            }
            .duration{
                font-size: 16px;
            }
        }
    }
}