@import '../../abstracts/variables.scss';

.specialOffers{
    display: flex;
    flex-direction: column;
    gap: 18px;
    .descriptions{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .titles{
            display: flex;
            flex-direction: column;
            gap: 6px;
            .specialTitle{
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: var(--special-offer-title-color);
                opacity: var(--special-offer-title-opacity);
            }
            .specialDesc{
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
                color: var(--special-offer-desc-color);
            }
        }
        .buttons{
            width: max-content;
            max-width: 100%;
            height: 35px;
            border-radius: 20.18px;
            background-color: var(--nav-background);
            padding: 10.5px 20.99px;
            .box{
                display: flex;
                overflow-x: scroll;
                gap: 22.6px;
                background-color: var(--nav-background);
                &::-webkit-scrollbar {
                    display: none;
                }
                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--nav-background);
                    white-space: nowrap;
                    border: none;
                    outline: none;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    cursor: pointer;

                }
                .deactive{
                    color: var(--special-offer-desc-color);
                    opacity: 0.5;
                }
                .active{
                    color: var(--special-offer-desc-color);
                }
            }
        }
    }
    .products{
        display: grid;
        gap: 24px 15px;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 84px;
    }
}

@media (min-width: $screen-size) {
    .specialOffers{
        gap: 35px;
        .descriptions{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            padding-right: 24px;
            gap: 30px;
            .titles{
                gap: 4px;
                .specialDesc{
                    font-size: 24px;
                }
            }
            .buttons{
                max-width: 60%;
                height: 45px;
                border-radius: 25px;
                padding: 14px 26px;
                .box{
                    gap: 28px;
                    button{
                        font-size: 14px;
                    }
                }
            }
        }
        .products{
            gap: 31px 29px;
            grid-template-columns: repeat(4, 1fr);
            padding-bottom: 114px;
        }
    }
}